Schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="RentAndDrive">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="car_id" type="xs:number"/>
      <xs:element name="car_type" type="xs:string"/>
      <xs:element name="car_seats" type="xs:number"/>
      <xs:element name="per_hour" type="xs:number"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>